@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="text-center">
    <h1 class="display-4 mb-4"><strong>Welcome to the Thetford Family Recipes Website</strong></h1>
</div>

<div id="carouselTop" class="carousel slide">
    @* Adds carousel indicators at the bottom *@
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselTop" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselTop" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselTop" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselTop" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/carousel_wide_1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="text-shadow: 2px 2px 2px black">
                <h3>Measure With Your Heart.</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/carousel_wide_2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="text-shadow: 2px 2px 2px black">
                <h3>Cook with love, serve with joy.</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/carousel_wide_3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-start" style="text-shadow: 2px 2px 2px black">
                <h3>Enjoy The Journey.</h3>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/carousel_wide_4.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-end" style="text-shadow: 2px 2px 2px black">
                <h3>Eat well, laugh often, love much.</h3>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTop" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselTop" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<hr class="my-4">

@* Alternating img/text Favorite Recipe Listings *@
@{
    int oddOrEven = 1;
    foreach(var recipe in Model.RecipeFavorites) {
        if(oddOrEven % 2 == 1) {
            @* img/text *@
            <div class="row mb-3">
                <div class="col-5">
                    <img src="@Html.DisplayFor(modelItem => recipe.ImageURL)" class="d-block w-100 img-fluid" alt="...">
                </div>
                <div class="col-7">
                    <h3>@Html.DisplayFor(modelItem => recipe.RecipeName)</h3>
                    <span>
                        <h4 class="text-secondary">Difficulty:  
                            @* I could try to use the recipe.Effort value here directly, between "bi-"" and "-square", test this later when I have more time *@
                            @switch(recipe.Effort)
                            {
                                case 1:
                                    <i class="bi bi-1-square" style="color: rgb(194, 224, 227);"></i>
                                    break;
                                case 2:
                                    <i class="bi bi-2-square" style="color: rgb(194, 224, 227);"></i>
                                    break;
                                case 3:
                                    <i class="bi bi-3-square" style="color: rgb(194, 224, 227);"></i>
                                    break;
                                case 4:
                                    <i class="bi bi-4-square" style="color: rgb(194, 224, 227);"></i>
                                    break;
                                case 5:
                                    <i class="bi bi-5-square" style="color: rgb(194, 224, 227);"></i>
                                    break;
                            }
                        </h4>
                    </span>
                    <p class="fs-5">@Html.DisplayFor(modelItem => recipe.Description)</p>
                    <a asp-page="./ViewRecipe" asp-route-id="@recipe.RecipeID" class="btn btn-large btn-secondary">View Recipe</a>
                </div>
            </div>
            <hr class="my-4">
            oddOrEven ++;
        } else {
            @* text/img *@
            <div class="row mb-3">
                <div class="col-7">
                    <h3>@Html.DisplayFor(modelItem => recipe.RecipeName)</h3>
                    <span>
                        <h4 class="text-secondary">Difficulty:  
                            @* I could try to use the recipe.Effort value here directly, between "bi-"" and "-square", test this later when I have more time *@
                            @switch(recipe.Effort)
                            {
                                case 1:
                                    <i class="bi bi-1-square" style="color: rgb(194, 224, 227);"></i>
                                    break;
                                case 2:
                                    <i class="bi bi-2-square" style="color: rgb(194, 224, 227);"></i>
                                    break;
                                case 3:
                                    <i class="bi bi-3-square" style="color: rgb(194, 224, 227);"></i>
                                    break;
                                case 4:
                                    <i class="bi bi-4-square" style="color: rgb(194, 224, 227);"></i>
                                    break;
                                case 5:
                                    <i class="bi bi-5-square" style="color: rgb(194, 224, 227);"></i>
                                    break;
                            }
                        </h4>
                    </span>
                    <p class="fs-5">@Html.DisplayFor(modelItem => recipe.Description)</p>
                    <a asp-page="./ViewRecipe" asp-route-id="@recipe.RecipeID" class="btn btn-large btn-secondary">View Recipe</a>
                </div>
                <div class="col-5">
                    <img src="@Html.DisplayFor(modelItem => recipe.ImageURL)" class="d-block w-100 img-fluid" alt="...">
                </div>
            </div>
            <hr class="my-4">
            oddOrEven ++;
        }
    }
}






